@import "normalized.css";


* {
    margin: 0;
    padding: 0;
    border: 0;
}

*:focus {
    outline: 0;
}

ul {
    margin: 0 ;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ol, ul {
    padding: 0;
}
a{
    text-decoration: none;
}